@model Template.Web.Areas.Dipendenti.Users.FerieViewModel
@{
    //ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
    Model.setUserId(((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).IdCorrente);
}
@section pageTitle {
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h1>Richiesta Ferie</h1>
            </div>
        </nav>
    </div>   
}
@section pageSubtitle{
    <div class="container-sm" style="margin-top: 35px">
        <div class="row">Giorni di Ferie</div>
        <div class="row">
            <form autocomplete="off" method="post" class="onit-form-sm" action="@Url.Action(MVC.Dipendenti.Users.Ferie())" id="edit-form">
                <input id="edit-form-submitter" class="d-none" type="submit" />
                <div class="container">
                    <div class="row">
                        <div class="col-md-auto">
                            <p style="font-size: 120%;">dal : </p>
                        </div>
                        <div class="col-md-auto">
                        <input class="form-control form-control-lg" type="date" asp-for="Day" oninput="dayEnd.value=this.value">
                        </div>
                        <div class="col-md-auto">
                            <p style="font-size: 120%;">al : </p>
                        </div>
                        <div class="col-md-auto">
                        <input class="form-control form-control-lg" type="date" asp-for="DayEnd" id="dayEnd"/>
                        </div>
                        <input value="8" type="hidden" asp-for="HHoliday">
                        <input type="hidden" asp-for="UserId">
                    </div>
                </div>
            </form>
            <div id="liveAlertPlaceholder"></div>
            <button type="button" class="btn btn-outline-primary" id="liveAlertBtn" onclick="document.getElementById('edit-form-submitter').click()">Invia</button>
        </div>
    </div>  
}

<p>Form considerazioni: <a href="https://forms.gle/rzpi6xJrke17fCbh6">Link al form</a></p>