@model Template.Web.Areas.Dipendenti.Users.FerieViewModel
@{
    ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
}
@section pageTitle {
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h1>@ViewData["Title"]</h1>
            </div>
        </nav>
        <a class="btn btn-primary" href="@Url.Action(MVC.Dipendenti.Users.SmartWorking())" role="button">SamrtWorking</a>
    </div>   
}
@section pageSubtitle{
    <div class="container-sm">
        <div class="row g-3">
            <input class="form-control form-control-lg" type="text" placeholder="gg/mm/aa" aria-label="gg/mm/aa">
            <label for="customRange2" class="form-label">Ore di SmartWorking</label>
            <input type="range" class="form-range" min="1" max="8" id="customRange2">
            <button type="button" class="btn btn-outline-primary">Invia</button>
        </div>
    </div>
}
