@model Template.Web.Areas.Dipendenti.Users.IndexDipendentiViewModel
@{
    ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
}
@section pageTitle {
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-title">
        <a class="navbar-brand">
            @ViewData["Title"]
        </a>
    </nav>
}