@model Template.Web.Areas.Dipendenti.Users.SmartWorkingViewModel
@{
    ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
    Model.setUserId(((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).IdCorrente);
}
@section pageTitle {
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h1>@ViewData["Title"]</h1>
            </div>
        </nav>
        <a class="btn btn-primary" href="@Url.Action(MVC.Dipendenti.Users.Ferie())" role="button">Richiedi Ferie</a>
    </div>   
}
@section pageSubtitle{
    <div class="container-sm" style="margin-top: 35px">
        <div class="row">Giorno di SmartWorking</div>
        <div class="row g-3">
            <input class="form-control form-control-lg" type="text" asp-for="Day" placeholder="gg/mm/aa" aria-label="gg/mm/aa">
            <label for="customRange2" class="form-label">Ore di SmartWorking</label>
            <div class="container-sm">
                <input type="range" value="1" asp-for="HSmartWork" class="form-range" min="1" max="8" id="customRange2" oninput="this.nextElementSibling.value = this.value"><output>1</output>
            </div>
            <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('edit-form-submitter').click()">Invia</button>
        </div>
    </div>
}
