@model Template.Web.Areas.CapoSettore.Users.IndexViewModel
@{
    ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
}
@section pageTitle {
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-title">   
        <h1>Ciao Ago</h1>
        <a class="navbar-brand">
            @ViewData["Title"]
        </a>
    </nav>
}